<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Super Blog</strong> by <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=daltobon&amp;repo=super-blog&amp;type=star&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="15px"></iframe><a href="https://www.linkedin.com/in/daniel-tob%C3%B3n-771878163"><i class="fas fa-user-tie"></i> Daniel Tobón</a>. </p>
      <p>The source code you find <a href="http://github.com/daltobon/super-blog">here </a></p>
  </div>
  <div class="container has-text-centered">
  	<p>Power by</p>
	<a href="https://rubyonrails.org/"><img src="/ruby.png" alt="" width="30px" allowtransparency="true"></a>  	
  </div>
</footer>