<section class="hero is-medium is-warning is-bold">
	  <div class="hero-body">
	    <div class="container has-text-centered">
	      <h1 id="titulo" class="title is-1">		
	        <%= yield :page_title %>
	      </h1>
	    </div>
	  </div>
</section>

	