// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#titulo {
  color: white;
  text-shadow: -3px 0 #ccc, 0 1px #ccc, 1px 0 #ccc, 0 -1px #ccc;
}

 #title a:hover {   
   color: hsl(14, 100%, 53%);
 }

#image-hover:hover {
  -webkit-transform:scale(1.05);
  -moz-transform:scale(1.05);
  -ms-transform:scale(1.05);
  -o-transform:scale(1.06);
  transform:scale(1.05);
}